Thumbs.db
.DS_Store
.gradle
build/
build/*
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
node_modules
out

application-modules/*
!application-modules/empty
engine-modules/*
!engine-modules/modules/app-api-test
!engine-modules/modules/codenarc-rule
*-lock.json
*.lock